.elementor-2793 .elementor-element.elementor-element-b0530d9{--display:flex;--min-height:550px;--flex-direction:column;--container-widget-width:calc( ( 1 - var( --container-widget-flex-grow ) ) * 100% );--container-widget-height:initial;--container-widget-flex-grow:0;--container-widget-align-self:initial;--flex-wrap-mobile:wrap;--justify-content:center;--align-items:center;}.elementor-2793 .elementor-element.elementor-element-b0530d9:not(.elementor-motion-effects-element-type-background), .elementor-2793 .elementor-element.elementor-element-b0530d9 > .elementor-motion-effects-container > .elementor-motion-effects-layer{background-color:#FFE7D0;}.elementor-2793 .elementor-element.elementor-element-b08aa17{--display:flex;--min-height:0px;--flex-direction:column;--container-widget-width:calc( ( 1 - var( --container-widget-flex-grow ) ) * 100% );--container-widget-height:initial;--container-widget-flex-grow:0;--container-widget-align-self:initial;--flex-wrap-mobile:wrap;--justify-content:center;--align-items:center;--margin-top:0px;--margin-bottom:0px;--margin-left:0px;--margin-right:0px;--padding-top:0px;--padding-bottom:0px;--padding-left:0px;--padding-right:0px;}.elementor-widget-image .widget-image-caption{color:var( --e-global-color-text );font-family:var( --e-global-typography-text-font-family ), Sans-serif;font-weight:var( --e-global-typography-text-font-weight );}.elementor-2793 .elementor-element.elementor-element-1399485{width:var( --container-widget-width, 12% );max-width:12%;--container-widget-width:12%;--container-widget-flex-grow:0;text-align:start;}.elementor-2793 .elementor-element.elementor-element-1399485 img{width:100%;max-width:100%;height:5.5em;}.elementor-2793 .elementor-element.elementor-element-1399485 .widget-image-caption{color:#0A0944;}.elementor-widget-image-box .elementor-image-box-title{font-family:var( --e-global-typography-primary-font-family ), Sans-serif;font-weight:var( --e-global-typography-primary-font-weight );color:var( --e-global-color-primary );}.elementor-widget-image-box:has(:hover) .elementor-image-box-title,
					 .elementor-widget-image-box:has(:focus) .elementor-image-box-title{color:var( --e-global-color-primary );}.elementor-widget-image-box .elementor-image-box-description{font-family:var( --e-global-typography-text-font-family ), Sans-serif;font-weight:var( --e-global-typography-text-font-weight );color:var( --e-global-color-text );}.elementor-2793 .elementor-element.elementor-element-2a40983 > .elementor-widget-container{padding:0px 0px 0px 0px;}.elementor-2793 .elementor-element.elementor-element-2a40983.elementor-element{--align-self:center;}.elementor-2793 .elementor-element.elementor-element-2a40983 .elementor-image-box-wrapper{text-align:center;}.elementor-2793 .elementor-element.elementor-element-2a40983 .elementor-image-box-title{margin-bottom:0px;font-family:"Poppins", Sans-serif;font-size:1em;font-weight:400;line-height:1.3em;letter-spacing:-0.5px;color:#0A094499;}.elementor-2793 .elementor-element.elementor-element-2a40983 .elementor-image-box-description{font-family:"Poppins", Sans-serif;font-size:1.25em;font-weight:400;line-height:1.3em;letter-spacing:-0.5px;color:#0A0944CC;}.elementor-widget-text-editor{font-family:var( --e-global-typography-text-font-family ), Sans-serif;font-weight:var( --e-global-typography-text-font-weight );color:var( --e-global-color-text );}.elementor-widget-text-editor.elementor-drop-cap-view-stacked .elementor-drop-cap{background-color:var( --e-global-color-primary );}.elementor-widget-text-editor.elementor-drop-cap-view-framed .elementor-drop-cap, .elementor-widget-text-editor.elementor-drop-cap-view-default .elementor-drop-cap{color:var( --e-global-color-primary );border-color:var( --e-global-color-primary );}.elementor-2793 .elementor-element.elementor-element-c77bfc7{width:var( --container-widget-width, 79% );max-width:79%;--container-widget-width:79%;--container-widget-flex-grow:0;text-align:center;font-family:"Poppins", Sans-serif;font-size:1.25em;font-weight:400;line-height:1.3em;letter-spacing:-0.3px;word-spacing:0px;color:#7A7A7A;}.elementor-2793 .elementor-element.elementor-element-c77bfc7 > .elementor-widget-container{margin:0px 0px 0px 0px;padding:0px 0px 0px 0px;}.elementor-widget-button .elementor-button{background-color:var( --e-global-color-accent );font-family:var( --e-global-typography-accent-font-family ), Sans-serif;font-weight:var( --e-global-typography-accent-font-weight );}.elementor-2793 .elementor-element.elementor-element-70552b5{width:var( --container-widget-width, 305px );max-width:305px;--container-widget-width:305px;--container-widget-flex-grow:0;}.elementor-2793 .elementor-element.elementor-element-70552b5 > .elementor-widget-container{margin:0px 0px 0px 0px;}.elementor-2793 .elementor-element.elementor-element-70552b5 .elementor-button-content-wrapper{flex-direction:row-reverse;}.elementor-2793 .elementor-element.elementor-element-70552b5 .elementor-button .elementor-button-content-wrapper{gap:15px;}.elementor-2793 .elementor-element.elementor-element-70552b5 .elementor-button{font-family:"Poppins", Sans-serif;font-size:1.25em;font-weight:400;line-height:1.3em;letter-spacing:-0.6px;fill:#0E0E2D;color:#0E0E2D;padding:40px 0px 40px 0px;}#elementor-popup-modal-2793 .dialog-widget-content{animation-duration:0.8s;box-shadow:2px 8px 23px 3px rgba(0,0,0,0.2);}#elementor-popup-modal-2793{background-color:rgba(0,0,0,.8);justify-content:center;align-items:center;pointer-events:all;}#elementor-popup-modal-2793 .dialog-message{width:80em;height:auto;}#elementor-popup-modal-2793 .dialog-close-button{display:flex;top:6%;font-size:1.6em;}body:not(.rtl) #elementor-popup-modal-2793 .dialog-close-button{right:3%;}body.rtl #elementor-popup-modal-2793 .dialog-close-button{left:3%;}@media(max-width:767px){.elementor-2793 .elementor-element.elementor-element-1399485{--container-widget-width:22%;--container-widget-flex-grow:0;width:var( --container-widget-width, 22% );max-width:22%;}.elementor-2793 .elementor-element.elementor-element-2a40983 .elementor-image-box-title{font-size:1.125em;letter-spacing:-0.5px;}.elementor-2793 .elementor-element.elementor-element-2a40983 .elementor-image-box-description{font-size:1.125em;letter-spacing:-0.5px;}.elementor-2793 .elementor-element.elementor-element-70552b5{width:100%;max-width:100%;}.elementor-2793 .elementor-element.elementor-element-70552b5 .elementor-button{font-size:1.125em;}}@media(min-width:768px){.elementor-2793 .elementor-element.elementor-element-b0530d9{--content-width:1280px;}.elementor-2793 .elementor-element.elementor-element-b08aa17{--width:59%;}}/* Start custom CSS for image, class: .elementor-element-1399485 */.elementor-2793 .elementor-element.elementor-element-1399485{
    border-radius: 90px;
    position: relative;
    height: 90px;
    border: solid 1px transparent;
    transition: all ease 0.5s;
    user-select: none;
    margin-left: -10px;
}
.elementor-2793 .elementor-element.elementor-element-1399485:hover{
    border: solid 1px #0A0944;
    transform: scale(1.1);
}

.elementor-2793 .elementor-element.elementor-element-1399485 img{
    pointer-events: none;
}
.elementor-2793 .elementor-element.elementor-element-1399485 .wp-caption-text{
    position: absolute;
    opacity: 0;
    visibility: hidden;
    display: block;
    font: 400;
    backdrop-filter: blur(10px);
    border: 1px solid #0A0944;
    color: #0A0944;
    border-radius: 10px;
    top: -33px;
    left: 75%;
    padding: 8px 10px;
    transition: all ease 0.5s;
    width: max-content;
    pointer-events: none;
    font-size: 0.875em;
}

.elementor-2793 .elementor-element.elementor-element-1399485 .wp-caption-text::before {
    position: absolute;
    content: '';
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 15px 0 0 15px;
    border-color: transparent transparent transparent #0A0944;
    border-radius: 1px;
    bottom: -1px;
    left: -1px;
}

.elementor-2793 .elementor-element.elementor-element-1399485:hover .wp-caption-text{
    opacity: 1;
    visibility: visible;
}/* End custom CSS */
/* Start custom CSS for button, class: .elementor-element-70552b5 */.elementor-2793 .elementor-element.elementor-element-70552b5::before {
    content: "";
    position: absolute;
    left: 0;
    top: 4px;
    width: 100%;
    height: 66px;
    z-index: 0;
}

.elementor-2793 .elementor-element.elementor-element-70552b5 .elementor-button{
box-shadow: 0 20px 65px 1px #FFE0A260;
}

.elementor-2793 .elementor-element.elementor-element-70552b5 .elementor-button {
    width: 100%;
    height: 75px;
    display: flex;
    align-items: center;
    justify-content: center;
    background: linear-gradient(
        91deg,
        #E3A425 2.31%,
        #FFD683 34.69%,
        #FFD683 67.07%,
        #E3A425 97.54%
    );
    border-radius: 5px;
    border-bottom: 4px solid #997120;
}

.elementor-2793 .elementor-element.elementor-element-70552b5 .elementor-button::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
    background: linear-gradient(
        91deg,
        #E3A425 2.31%,
        #FFD683 34.69%,
        #FFD683 67.07%,
        #FFD683 97.54%
    );
    border-bottom: 4px solid #C08D25;
    border-radius: 5px;
    transition: 0.7s;
}
.elementor-2793 .elementor-element.elementor-element-70552b5 .elementor-button:hover::after {
    opacity: 1;
}

.elementor-2793 .elementor-element.elementor-element-70552b5 .elementor-button-text {
    position: relative;
    z-index: 2;
}

.elementor-2793 .elementor-element.elementor-element-70552b5 .elementor-button:hover {
box-shadow: 0 20px 65px 1px #FFE0A280;
}

.elementor-2793 .elementor-element.elementor-element-70552b5 .elementor-button svg{
    width: 20px; /*altere o tamanho aqui*/
    height: 20px; /*altere o tamanho aqui*/
    vertical-align: middle;
}

.elementor-2793 .elementor-element.elementor-element-70552b5 .elementor-button-content-wrapper {
    align-items: center
}/* End custom CSS */